.teamDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

.teamContainer {
	height: 75%;
	width: 70%;
	display: flex;
	border-radius: 5px;
	border: solid black;
	margin-top: 4rem;
	padding: 3rem;
	align-content: center;
}

