.mainDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.descriptionDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 75%;
	width: 70%;
	border: solid black;
	border-radius: 5px;
}

.nameMission {
	font-size: 3rem;
	padding: 5rem;
}

.descriptionText {
	padding: 2rem;
	font-size: 25px;
}

.joinDiv {
	height: 75%;
	width: 70%;
	margin-top: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px;
	border: solid black ;
	padding: 2rem;
}

.joinText {
	font-size: 35px;
}

.qualityDiv {
	border-radius: 5px;
	border: solid black ;
	display: flex;
	flex-direction: column;
	height: 75%;
	justify-content: flex-start;
	margin-top: 4rem;
	padding: 2rem;
	width: 70%;

}